@import "tailwindcss";
.typewriter {
  font-family: monospace;
  white-space: nowrap;
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: black;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes flipIn {
  0% {
    transform: rotateX(-100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
